// theme settings
$default-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
$default-font-size: 16px;
$default-font-weight: normal;
$default-line-height: 1.15em;

$default-dark-color: rgba(255, 255, 255, 0.87);
$default-dark-background-color: rgba(255, 255, 255, 0.87);

$default-light-color: #213547;
$default-light-background-color: #ffffff;
